.text h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/* Location Section */
.location {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.location h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #004080;
}

.map-container {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contact Form */
.contact-form {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.contact-form h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #004080;
}

.contact-form .form-group {
    margin-bottom: 20px;
}


.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.radio-label{
    display: flex;

}

.radio-group input[type= "radio"]{
    vertical-align: middle;
    order: 2;
    flex: 0;
    margin-right: 5px;
}



.contact-form button {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #002a5c;
}




/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
    
    .map-container {
        width: 100%;
        height: 300px;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
    }
}

/*Testimonial*/
.slider{
    width: 100%;
    padding: 5px;
    position: relative;
    width: 100%;
    min-height: 450px;
    background-color: #f0f0f0;
    margin-bottom: 50px;
}
.slider .slid{
    width: 70%;
    min-height: inherit;
    margin: 30px auto;
    text-align: center;
}
.slid .testheader h2{
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}
.slid .testheader h2::before{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #006994;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.slid .sliden{
    width: 100%;
    min-height: inherit;
    position: relative;
    overflow: hidden;
}

.sliden .testimonial-content{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sliden .testimonial-content:not(.active){
    top: 0;
    left: -100%;
}
.sliden .testimonial-content img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    outline: 2px solid #006994;
    outline-offset: 2px;
}
.sliden .testimonial-content h3{
    font-size: 30px;
    font-style: italic;
    padding: 7px;
}
/*.testRow .testItem h4{
    font-style: italic;
}*/
.sliden .testimonial-content p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 10px;
}
.slid .indicators{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    cursor: pointer;
}
.slid .indicators .dot{
    width: 15px;
    height: 15px;
    margin: 0px 3px;
    border: 3px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.slid .indicators .active{
    background-color: #006994;
}
@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

@media(max-width: 550px){
    .slider .slid{
        width: 90%;
    }
    .slid .testheader h2{
        font-size: 32px;
    }
    .sliden .testimonial-content h3{
        font-size: 26px;
    }
    .sliden .testimonial-content p{
        font-size: 16px;
        letter-spacing: initial;
        line-height: initial;
    }
}


  /*ABOUT US CSS*/
.history {
    background-color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);  
        
}

/*three column container*/
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 10px;
    flex-wrap: wrap;
}

/*individual coulmns*/
.column{
    flex: 1;
    max-width: 30%;
    min-width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);  
}

/*background colours*/
.light{
    background-color: white;
}

.dark{
    background-color: red;
    color: white;
}
 
@media (max-width:900px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .column{
        max-width: 80%;
    }
}

.about-img{
    width: 400px;
    height: auto;

}

/*hover effect*/
.column:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 2px solid ;

}

#us-today{
    float: right;
    margin-left: 20px;
     width: 500px;
    height: auto;

}

.justify{
    text-align: justify;
}

.about-table{
    width: 100%;
    border-collapse: collapse;
}

.about-table th, .about-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.about-table th {
    background-color: #f2f2f2;
}

.abt-content{
        margin-top: 40px;
        margin-bottom: 40px;
        overflow: hidden;
    
}
