header{
    display:flex;
    align-items: end;
    justify-content: space-between;
    background-color: rgba(246, 42, 42,0.5);
    opacity: 0.5;
    padding: 10px 20px;
    top: 0;

}

/*Font-Families*/
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.w-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/*Navigation bar*/
.navbar ul{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.navbar a{
color: white;
text-decoration: none;
padding: 15px;
text-align: center;
display: block;
}

.navbar a:hover{
   text-decoration: underline;
   color: grey;
}

.navbar li{
   float: left;
}

/*School badge, name and motto*/
h3 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgb(41, 10, 10);
}

.logo {
    width: 50px;
    height:auto;
    margin-right: 10px;
    align-items: center;

}

.text{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.info{
    display: flex;
    align-items: center;
}

.name{
    margin-bottom: 0;
}

.motto{
    margin-top: 0;
    color: whitesmoke;
}

/*Slider*/
.transbox{
    background-color: rgba(3, 3, 3, 0.5);
    position: absolute;
    padding: 30px;
    left: 50px;
    top: 200px;
    border-radius: 10px;
    
}


.carousel-item img{
    height: 600px;
    object-fit: cover;
}

.transbox h2, .transbox p{
    color: white;
}

/*Headteacher's Greetings*/
.card{
    width: auto;
    padding: 20px;
    box-shadow: 0 4px 8px o rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
display: flex;

}

#greeting{
    margin-top: 50px;
    margin-left: 20px;
    padding: 60px;
}
.headteacher_image{
    width: 200px;
    height:auto;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-direction: normal;
    padding-left: 0;
}
@keyframes anim{
    100%{transform: scale(0.5,0.5);}
}

.content.open-sans{
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
    flex: 1;
    background-color: rgba(25, 124, 25, 0.918);
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-direction: normal;
}
@keyframes grow {
    100%{transform: scale(2,2);}
    
}

/*Footer*/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(207, 38, 38);
    color: white;
    padding: 20px;
}
.sectionleft{
    text-align: center;
    width: 48%;
    float: left;
    margin-left: 0;
}
.icons{
    text-decoration: none;
    margin-right: 5px;
}
.fa-brands.fa-facebook.fa-2x{
    color: rgb(54, 54, 214);
}
.fa-brands.fa-square-x-twitter.fa-2x{
    color:rgba(0, 0, 0, 0.863);
}
.fa-brands.fa-linkedin.fa-2x{
    color:rgb(68, 65, 65);
}
.fa-brands.fa-facebook.fa-2x:hover{
    background-color: rgb(77, 77, 241);
}
.fa-brands.fa-square-x-twitter.fa-2x:hover{
    background-color:rgba(0, 0, 0, 0.322);
}
.fa-brands.fa-linkedin.fa-2x:hover{
    background-color: rgb(128, 128, 128);
}

#footer_logo{
    width: 70px;
    height: auto;
    text-align: center;
}
.slider{
    width: 100%;
    height:500px;
    overflow: hidden;
    background-color:lightgray;
    text-align: center;
    padding: 40px 20px;
    
}
.slider h2{
    font-weight: bold;
}
figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s flow infinite;
    
    
}
.sliden{
    height: 25%;
    width: 25%;
    float: left;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    margin: 20px 0;
    
}
@keyframes flow{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    55%{
        left: -300%;
    }
    65%{
        left: -300%;
    }
    75%{
        left: -200%;
    }
    75%{
        left: -100%;
    }
    85%{
        left: -100%;
    }
    90%{
        left: 0;
    }
    100%{
        left: 0;
    }

}
.testimonial-content {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  font-style: italic;
}
.testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  /*for the news and events page*/
  #news-h1{
    text-align: center;
  }
  .news{
    display: flex;
    justify-content: space-between;
  }
  .news-content{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    margin: 20px 0;
  }
  .news-content:hover{
    background-color: lightgreen;
  }
  .form{
    display: flex;
    justify-content: space-between;
  }
  #thank{
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .form-content{
    margin-left: 10px;
  }